
.sidenav {
	height: 750px;
	width: 200px;
	float: right;
	background-color: #00000066;
  }

  .sidenav a{
	color: #fff;
	font-size: 16px;
	font-weight: 1000;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
	display: block;
  }
  
  .sidenav a:hover {
	color: #ff5518;
  }
  
  .main {
	margin-left: 160px;
	font-size: 28px;
	padding: 0px 10px;
  }
  
.dropdown .dropbtn {
	font-size: 14px;
	outline: none;
	color:white;
	padding: 14px 16px;
	margin: 0; 
  }
  
 .dropdown:hover .dropbtn {
	background-color:transparent;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: transparent;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: transparent;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }


p {
	font-size: 14px;
	line-height: 22.4px;
	color: #a9a9a9;
}

#borderimg { 
	border: 10px solid orangered;
	padding: 15px;
	margin-left: 300px;
	margin-top: 30px;
  }


h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
	margin-left: 10px;
}
h4 {
	font-size: 22px;
	color: #b1b1b1;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.btn {
	background-color: #000000;
	color: rgba(255, 255, 255, 0.72);
	font-size: 16px;
	font-weight: 600;
	border: 0;
	text-decoration: none;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #3a3a3a;
	margin-top: 20px;
}
.btn:hover, .btn:focus {
	background-color: #ff5518;
	color: #fff;
}
.btn-large {
	margin-left: 60%;
	padding: 15px 40px;
	text-decoration: none;
	background: #000000;
}

body {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	color: #6c7279;
	background: #010101;
}
.section {
	padding: 100px 0;
}

.space {
	margin-top: 60px;
}
#header {
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 999;
	background: #00000066;
	min-height: 50px;
}
.navigation {
	float: right;
	color: #000;
	max-height: 70px;
	margin-top: 30px;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	margin-left: 20px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 28px 10px;
}
.navigation a:hover {
	color: #ff5518;
}
.banner {
	background-image: url(../images/banner.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 750px;
}
.banner-text {
	margin-top: 35%;
	color: #fff;
	float: left;
	padding: 0;
	border-radius: 15px 0 15px;
	left: 0px;
	text-align: left;
	font-size: 22px;
	font-weight: normal;
}
.banner-text h1 {
	color: #ffffff;
	font-size: 82px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	padding-bottom: 0;
	font-style: normal;
	letter-spacing: -2px;
	font-family: 'Maven Pro', sans-serif;
}
.banner-text p {
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	line-height: normal;
	margin-top: 10px;
	margin-bottom: 11px;
	text-align: left;
	font-style: italic;
}
.section-header{	
text-align: center;	
padding-bottom: 30px;
padding-top: 100px;
}

.services {
	background: transparent;
	color: #767676;
} 
#services{
	position: relative;
	background: #1e1e1e;
}
.services h2{
	color: #ff5518;
	font-weight: bold;
	float: right;
	margin-right: 25px;
}
.services p{
	color: #bcbcbc;
	text-align: right;
	margin-right: 25px;
}

.services-content {
	padding: 30px 20px;
	text-align: center;
	color: #fff;
	background: #454444;
}



.social-icons{
	margin-top: 20px;
	margin: auto;
}
.social-icons li {
	display: inline-block;
	float: none;
}
.social-icons a {
	border: 1px solid #ff5518;
	color: #ff5518;
	display: block;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin-right: 5px;
	margin: auto;
	width: 32px;
}
.social-icons a:hover {
	background-color: #ff5518;
	border-color: #ff5518;
	color: #fff;
}
.center{
	margin: auto;
	text-align: center;
	
	width: 60%;
	border: 3px solid #ffffff;
	padding: 10px;
}

.conForm {
	text-align: center;
}
.conForm input {
	color: #797979;
	padding: 15px 30px;
	border: none;
	margin-right: 3%;
	margin-bottom: 30px;
	outline: none;
	font-style: normal;
	border: #e0e0e0 1px solid;
	font-size: 15px;
	background: #010101;
}
.conForm textarea {
	color: #797979;
	padding: 15px 30px;
	margin-bottom: 18px;
	outline: none;
	height: 150px;
	font-style: normal;
	resize: none;
	font-size: 15px;
	border: none;
	border: #e0e0e0 1px solid;
	background: #010101;
}
.submitBnt {
	background: black;
	color: #fff;
	margin-top: 20px;
	font-size: 13px;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
	
}
.submitBnt:hover {
	background: #e63d00;
	color: #ffffff;
}
